.cardList{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(6,15%);
    gap: 10px;
}
/* 
@media screen and () {
    
} */

.cardCast{
    /* width: 100%; */
    
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    

}

img{
    width: 100%;
    /* background-size: contain; */
}

h3{
    font-size: 14px;
}

p{
    font-size: 12px;
}