.movieList{    
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}
@media screen and (min-width: 380px) {
    .movieList {   
            grid-template-columns: 1fr 1fr;
        }
}

@media screen and (min-width: 768px) {
    .movieList {
            grid-template-columns: repeat(4, 1fr);
        }
}
@media screen and (min-width: 1200px) {
    .movieList {
            grid-template-columns: repeat(5, 1fr);
        }
}

.cardMovie{
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    list-style: none;
    text-decoration: none;
    }

.cardMovie:hover{
    
}
img{
    width: 100%;
}